<DOCTYPE html>
    <html lang="en">
        <head>
            <title>Django Girls blog</title>
            <style>
               body {
                    background-color:#f0f0f0;
                }
            </style>
            </head>
        <body> 
            <header>
                <h1><a href="#">This is my first blog</a></h1>
            </header>
            <article>
                <time>Published: 13.07.2022, 15:31</time>
                <h2><a href="#">My first post</a></h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,<br>
                    molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum<br>
                    numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium<br>
                    optio, eaque rerum! Provident similique accusantium nemo autem.</p>
            </article>
            <article>
                <time>Published: 13.07.2022, 15:31</time>
                <h2><a href="#">My second post</a></h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,<br>
                    molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum<br>
                    numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium<br>
                    optio, eaque rerum! Provident similique accusantium nemo autem.</p>
            </article>
        </body>
    </html>